<div class="container">
  <h1>Editing entry</h1>

  <%= render "form", entry: @entry %>


  <div>
    <%= button_to "Delete", @entry, method: :delete, class:"btn btn-danger", form: {data: {turbo_confirm: "Are you sure?"}, style: 'display:inline-block;'} %>
  </div>
</div>