<div class="container-lg">
  <p style="color: green"><%= notice %></p>
  <div class="container-lg">
    <h1>Editing Entry (put name here) </h1>

    <%= render "form", entry: @entry %>
    
    <%# <%= link_to "Delete Entry", [entry.subject, @entry], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
  </div>
</div>