<div class="container">
<h1>Editing entry</h1>

<%= render "form", entry: @entry %>
<%= button_to "Destroy this entry", @entry, method: :delete %>

<br>

<div>
  <%= link_to "Show this entry", @entry %>
</div>
</div>