<div class="container">
  <h1>New entry</h1>

  <%= render "new", entry: @entry %>

  <br>

  <div>
    <%= link_to "Back to entry list", subject_path(params[:subject_id]), class:"btn btn-secondary", form: {style: 'display:inline-block;'} %>
  </div>
</div>