<div class="container">
  <h1>Editing subject</h1>

  <%= render "form", subject: @subject %>

  <div>
    <%= button_to "Delete", @subject, method: :delete, class:"btn btn-danger", form: {data: {turbo_confirm: "Are you sure?"}, style: 'display:inline-block;'} %>
  </div>
</div>