<div class="container">
<h1>Editing subject</h1>

<%= render "form", subject: @subject %>
<%= button_to "Destroy this subject", @subject, method: :delete %>

<br>

<div>
  <%= link_to "Show this subject", @subject %> |
  <%= link_to "Back to subjects", subjects_path %>
</div>
</div>