<div class="container-lg">
  <p style="color: green"><%= notice %></p>

  <div class="container-lg" style="margin-bottom: 6px">
    <h1>All Subjects</h1>
      <%= link_to "New subject", new_subject_path, class:"btn btn-success", form: {style: 'display:inline-block;'}%>
      <%= link_to "Back to categories", categories_path, class:"btn btn-secondary", form: {style: 'display:inline-block;'} %>
  </div>

  <div id="subjects" class="container-lg d-grid gap-2">
    <% @subjects.each do |subject| %>
      <%= render subject %>
    <% end %>
  </div>
</div>