<div class="container-lg">
  <div class="container-lg">
    <h1>Editing <%= @category.name %> </h1>

  </div>

    <%= render "form", category: @category %>
  
  <div class="container-lg">
    <%= button_to "Delete Category", @category, method: :delete, class:"btn btn-danger",form: {data: {turbo_confirm: "Are you sure?"}} %>
  </div>
</div>